<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Blogs</h2>
                <h3 class="section-subheading text-muted">Enjoy exploring my blog world!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">CLI Project — Flatiron School</h4>
                                <h5>Sep 13, 2019</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I was first in dilemma how to choose a scrapable website and what
                                    topic to build my project on. As I am deeply interested in sales, I chose an amazing
                                    website, Limited77, that sells limited products. </p>
                                <a href="https://medium.com/@yazgeldi.seyidov/cli-project-flatiron-school-f1e768b7df2d">read
                                    more...</a>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Sinatra Portfolio Project for Flatiron School</h4>
                                <h5>Oct 15, 2019 </h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">For my Sinatra CRUD App Portfolio Project, I chose to make an app
                                    that allows its users, dentists, to keep their patient information on their
                                    computer, through my WebApp. It is like a dentist’s notebook or a calendar on his
                                    patients.</p>
                                <a
                                    href="https://medium.com/@yazgeldi.seyidov/sinatra-portfolio-project-for-flatiron-school-10bb3251eaeb">read
                                    more...</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Rails Portfolio Project</h4>
                                <h5>Nov 12, 2019</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Ruby on Rails is a long journey that is full of magic. Before
                                    Rails, we have used Sinatra, which is similar to Rails, but less functionality and
                                    more codes. </p>
                                <a href="https://medium.com/@yazgeldi.seyidov/rails-portfolio-project-331f718af6ab">read
                                    more...</a>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">JavaScript with Ruby on Rails</h4>
                                <h5>Dec 19, 2019</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">For a start, when I was studying on my own, JavaScript looked like
                                    a total confusion to me. I was not able to understand the OOP (Object Oriented
                                    Programming) deep enough. </p>
                                <a
                                    href="https://medium.com/@yazgeldi.seyidov/javascript-with-ruby-on-rails-6ba63e17c93">read
                                    more...</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Reasons Why To Chose Software-Development</h4>
                                <h5>Dec 27, 2019</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">If you are a gifted computer hacker from childhood, for sure
                                    you’ll become a great software engineer easily. Otherwise, what is the reason for
                                    you to be spending all day typing on a keyboard, commanding the machine? </p>
                                <a href="https://yazseyit77.github.io/reasons_why_to_chose_software-development">read
                                    more...</a>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">React.js, Presentational and Container Components</h4>
                                <h5>Jan 12, 2020</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">React is a JavaScript Front End Framework that is used for
                                    building user interfaces. It is the most loved among some other frameworks because
                                    of performance, size and easy to debug. </p>
                                <a
                                    href="https://medium.com/@yazgeldi.seyidov/react-js-presentational-and-container-components-584608666761">read
                                    more...</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">React-Redux Portfolio Project: Designed with React Semantic UI
                                </h4>
                                <h5>Jan 26, 2020</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">At first I didn’t really believe that React is a number one
                                    front-end framework and everyone really like this. Sitting here, exploring more and
                                    more about React and Redux makes me amazed by their awesome functionalities. </p>
                                <a
                                    href="https://medium.com/@yazgeldi.seyidov/react-redux-portfolio-project-designed-with-react-semantic-ui-b7caf20ca261">read
                                    more...</a>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Enjoy
                                <br>Coding
                                <br>Life!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>